body {
	max-width: 900px;
	margin: 0 auto;
	padding: 40px;
	text-align: left;
	background-color: #FFF1B8;
}

h1, h2, h3 {
	font-family: "Lexend", sans-serif;
}

h1 {
	color: forestgreen;
	font-weight: 700;
	font-size: 3rem;
	letter-spacing: -0.04em;
}